
<title>2323418</title>
<h4 align="center" > Hotel Information  </h4>
<h4> Email Info : </h4>
<table border=1 cellspacing=2 cellpadding=2 >
<tr>
<td align= left width=2% bgcolor=#ADD8E6>
From 
</td>
<td align=left width=8% bgcolor=#87CEFA>
nick.davies1@ge.com<br>
</td>
</tr>
<tr>
<td align= left width=2% bgcolor=#ADD8E6>
To 
</td>
<td align=left width=8% bgcolor=#87CEFA>
trips@tripcase.com<br>
</td>
</tr>
<tr>
<td align= left width=2% bgcolor=#ADD8E6>
Subject 
</td>
<td align=left width=8% bgcolor=#87CEFA>
FW: Reservation Confirmation<br>
</td>
</tr>
</table >
<br>
<h4>  Booking Info : </h4>
<table border=1 cellspacing=2 cellpadding=2 >
<tr>
<td align= left width=4% bgcolor=#ADD8E6>
 Your confirmation number is
</td>
<td align=left width=6% bgcolor=#87CEFA>
 21659SB002465
</td>
</tr>
<tr>
<td align= left width=4% bgcolor=#ADD8E6>
 Arrival Date
</td>
<td align=left width=6% bgcolor=#87CEFA>
 2014-07-03
</td>
</tr>
</table >
<br>
